- content_for :title, 'New Clients'
%h1= content_for :title
.row
  .col-sm-4
    .row
      .info-box.new_clients.col-xs-12
        %span.info-box-text New Clients
        .row.text-center
          .col-xs-2
            .info-box-icon
              icon
          .col-xs-10
            .row
              .previous-count.col-xs-6
                .date-range
                .count
              .current-count.col-xs-6
                .date-range
                .count
              .col-xs-12
                .row
                  .change.col-xs-12

= content_for :page_js do
  :javascript
    (function($){
      $.get('/public_api/new_clients', function (data) {
        var dates = Object.keys(data);

        var previous_date_range = dates[0];
        var current_date_range = dates[1];

        var previous_count = data[previous_date_range];
        var current_count = data[current_date_range];

        var change = current_count / previous_count * 100 - 100; //As a percent

        $('.previous-count .date-range').text(previous_date_range);
        $('.previous-count .count').text(previous_count);

        $('.current-count .date-range').text(current_date_range);
        $('.current-count .count').text(current_count);

        if (change > 0){
          $('.change').text("+" + change.toFixed(2) + "%");
        }
        else{
          $('.change').text(change.toFixed(2) + "%");
        }
      });
    })(jQuery);
