- content_for :title, 'New Clients'
%h2= content_for :title
.row
  .col-sm-4
    .row
      .info-box.new_clients.col-xs-12
        %span.info-box-text New Clients
        .row.text-center
          .col-xs-2
            .info-box-icon
              icon
          .col-xs-10
            .row
              .previous-count.col-xs-6
                .date-range
                .count
              .current-count.col-xs-6
                .date-range
                .count
              .col-xs-12
                .row
                  .change.col-xs-12

=render 'js'
