.row
  .jRemoteClientsServed
    %h2 Clients Served
    .text-center
      Loading...
  .jRemoteNewClients
    %h2 New Clients
    .text-center
      Loading...

.row
  .col-sm-7
    .jRemotePermanentHousing
      %h2 Permanent Housing Length of Stay
      .text-center
        Loading...
    .jRemoteTransitionalHousing
      %h2 Transitional Housing Time to Exit
      .text-center
        Loading...

    .jRemoteEmergencyShelter
      %h2 Emergency Shelter Time to Exit
      .text-center
        Loading...

    .jRemoteRapidRehousing
      %h2 Rapid Rehousing Time to Housing
      .text-center
        Loading...
  .col-sm-5
    .jRemoteShelteredCount
      %h2 One Day Sheltered Homeless Count (PIT)
      .text-center
        Loading...

=render 'public_dashboards/public_dashboard_js'
