- content_for :title, 'Transitional Housing Time to Exit'
%h2= content_for :title

= render 'time_to_exit'

= content_for :page_js do
  :javascript
    (function($){
        var chart = $('#time-to-exit-chart');
        var time_to_exit_chart = new App.PublicDashboards.Th.TimeToExit(chart, '/public_api/th/time_to_exit');
    })(jQuery);
